<a href="https://colab.research.google.com/github/Rj2790/Video_Recommender/blob/main/Video_recommender.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**About the Dataset and approach used**

We have used Microsoft News Recommendation Dataset (MIND) which consists of Headline and the text of the news article, this code will summarize the text of the dataset and then find similarity with other articles and give top 10 recommednations based on the cosine-similarity-score.
As the kernel was getting dead processing 98,401 articles, we reduced the dataset to 20,000 articles.

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Video_recommendation/news_summary_more.csv')
df

                                               headlines                                               text
0      upGrad learner switches to career in ML & Al w...  Saurav Kant, an alumnus of upGrad and IIIT-B's...
1      Delhi techie wins free food from Swiggy for on...  Kunal Shah's credit card bill payment platform...
2      New Zealand end Rohit Sharma-led India's 12-ma...  New Zealand defeated India by 8 wickets in the...
3      Aegon life iTerm insurance plan helps customer...  With Aegon Life iTerm Insurance plan, customer...
4      Have known Hirani for yrs, what if MeToo claim...  Speaking about the sexual harassment allegatio...
...                                                  ...                                                ...
98396  CRPF jawan axed to death by Maoists in Chhatti...  A CRPF jawan was on Tuesday axed to death with...
98397  First song from Sonakshi Sinha's 'Noor' titled...  'Uff Yeh', the first song from the Sonakshi Si...
98398         'The Matrix' film to get a reboot: Reports  According to reports, a new version of the 199...
98399  Snoop Dogg aims gun at clown dressed as Trump ...  A new music video shows rapper Snoop Dogg aimi...
98400  Madhesi Morcha withdraws support to Nepalese g...  Madhesi Morcha, an alliance of seven political...

[98401 rows x 2 columns]

In [ ]:
df = df.iloc[:20000]
df

                                               headlines                                               text
0      upGrad learner switches to career in ML & Al w...  Saurav Kant, an alumnus of upGrad and IIIT-B's...
1      Delhi techie wins free food from Swiggy for on...  Kunal Shah's credit card bill payment platform...
2      New Zealand end Rohit Sharma-led India's 12-ma...  New Zealand defeated India by 8 wickets in the...
3      Aegon life iTerm insurance plan helps customer...  With Aegon Life iTerm Insurance plan, customer...
4      Have known Hirani for yrs, what if MeToo claim...  Speaking about the sexual harassment allegatio...
...                                                  ...                                                ...
19995  Murders of Gauri Lankesh, Narendra Dabholkar l...  Central Bureau of Investigation on Sunday told...
19996  Nobody respects me, may be they will post my d...  Samajwadi Party patriarch Mulayam Singh Yadav ...
19997  Sanskrit teacher arrested for sexually assault...  The Delhi Police on Friday arrested a governme...
19998  Islamic State's Afghanistan chief killed in ai...  Abu Saad Erhabi, the head of Islamic State in ...
19999  Foreign specialists may stage chemical attack ...  The Russian Defence Ministry has warned that "...

[20000 rows x 2 columns]

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfv = TfidfVectorizer(min_df=3, max_features=None,
                      strip_accents='unicode', analyzer='word',token_pattern=r'\w{1,}',
                      ngram_range=(1,3), stop_words='english')
df['text'] = df['text'].fillna('')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
tfv_matrix = tfv.fit_transform(df['text'])

In [ ]:
from sklearn.metrics.pairwise import sigmoid_kernel

sig = sigmoid_kernel(tfv_matrix,tfv_matrix)

indices = pd.Series(df.index, index=df['headlines']).drop_duplicates()

In [ ]:
def give_rec(title,sig=sig):
# Index next to title
  idx = indices[title]

# Pairwise similarity scores, enumerate will provide index no.
  sig_scores = list(enumerate(sig[idx]))

# Sort by titles
  sig_scores = sorted(sig_scores, key=lambda x:x[1], reverse=True)

# Score top 10 similar titles
  sig_scores = sig_scores[1:11]
  print(sig_scores)
# Indices
  news_indices = [i[0] for i in sig_scores]

# Top 10 similar titles
  return df['headlines'].iloc[news_indices]

In [ ]:
pd.set_option("display.max_colwidth", -1)
df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  """Entry point for launching an IPython kernel.

                                                                 headlines                                                                                                                                                                                                                                                                                                                                                                                          text
0      upGrad learner switches to career in ML & Al with 90% salary hike    Saurav Kant, an alumnus of upGrad and IIIT-B's PG Program in Machine learning and Artificial Intelligence, was a Sr Systems Engineer at Infosys with almost 5 years of work experience. The program and upGrad's 360-degree career support helped him transition to a Data Scientist at Tech Mahindra with 90% salary hike. upGrad's Online Power Learning has powered 3 lakh+ careers.
1      Delhi techie wins free food from Swiggy for one year on CRED         Kunal Shah's credit card bill payment platform, CRED, gave users a chance to win free food from Swiggy for one year. Pranav Kaushik, a Delhi techie, bagged this reward after spending 2000 CRED coins. Users get one CRED coin per rupee of bill paid, which can be used to avail rewards from brands like Ixigo, BookMyShow, UberEats, Cult.Fit and more.
2      New Zealand end Rohit Sharma-led India's 12-match winning streak     New Zealand defeated India by 8 wickets in the fourth ODI at Hamilton on Thursday to win their first match of the five-match ODI series. India lost an international match under Rohit Sharma's captaincy after 12 consecutive victories dating back to March 2018. The match witnessed India getting all out for 92, their seventh lowest total in ODI cricket history.
3      Aegon life iTerm insurance plan helps customers save tax             With Aegon Life iTerm Insurance plan, customers can enjoy tax benefits on your premiums paid and save up to â¹46,800^ on taxes. The plan provides life cover up to the age of 100 years. Also, customers have options to insure against Critical Illnesses, Disability and Accidental Death Benefit Rider with a life cover up to the age of 80 years.
4      Have known Hirani for yrs, what if MeToo claims are not true: Sonam  Speaking about the sexual harassment allegations against Rajkumar Hirani, Sonam Kapoor said, "I've known Hirani for many years...What if it's not true, the [#MeToo] movement will get derailed." "In the #MeToo movement, I always believe a woman. But in this case, we need to reserve our judgment," she added. Hirani has been accused by an assistant who worked in 'Sanju'.
...                                                                    ...                                                                                                                                                                                                                                                                                                                                                                                 ...
19995  Murders of Gauri Lankesh, Narendra Dabholkar linked: CBI             Central Bureau of Investigation on Sunday told a Pune court that it has established links between the murders of Pune-based rationalist Narendra Dabholkar and Bengaluru-based journalist Gauri Lankesh. It also asked for extension of police custody of one of the prime suspects, Sachin Andure. The agency has recovered the pistol used to kill Lankesh from Andure's brother-in-law.nn
19996  Nobody respects me, may be they will post my death: Mulayam          Samajwadi Party patriarch Mulayam Singh Yadav on Saturday said, "Nobody respects me now. May be they will respect me after my death." He added that even freedom fighter Ram Manohar Lohia had said that India has a tradition of honouring people only after they die. The former UP CM made these remarks while speaking at an event in Lucknow. n
19997  Sanskrit teacher arrested for sexually assaulting student            The Delhi Police on Friday arrested a government school's Sanskrit teacher for allegedly sexually assaulting class 10 student during summer vacations in June this year. The crime took place when the student had visited the teacher's house for extra classes. The teacher was arrested after a man running an NGO showed a video of the assault to police.
19998  Islamic State's Afghanistan chief killed in air strike               Abu Saad Erhabi, the head of Islamic State in Afghanistan, was killed in an air strike in the Nangarhar province on Saturday, the Afghan government said. The strike was part of an operation carried out by the Afghan and foreign forces that targeted two ISIS hideouts. As per US military estimates, there are nearly 2,000 ISIS fighters in Afghanistan.
19999  Foreign specialists may stage chemical attack in Syria: Russia       The Russian Defence Ministry has warned that "foreign specialists" may stage a chemical attack in Syria in a bid to destabilise the ongoing peace process. The ministry added that chlorine will be used in the staged attack in the town of Kafr Zita in Syria's Hama province in the next two days.

[20000 rows x 2 columns]

In [ ]:
n = "New Zealand end Rohit Sharma-led India's 12-match winning streak"
give_rec(n)

[(2623, 0.7615965446839325), (6, 0.7615964684428375), (11966, 0.7615960682572328), (27, 0.7615960518251937), (28, 0.761595984607876), (11403, 0.7615959088053832), (361, 0.7615958583648436), (1038, 0.7615958132417784), (2955, 0.7615957156721089), (10706, 0.7615956946136979)]

2623     Australia to don 1986-inspired green and gold kit in ODIs vs India
6        India get all out for 92, their lowest ODI total in New Zealand
11966    Windies end India's 10-match unbeaten streak despite Kohli's ton
27       Rohit Sharma becomes 14th Indian cricketer to play 200 ODIs
28       19-year-old Shubman Gill becomes India's 227th ODI cricketer
11403    India win eighth consecutive ODI series against Windies
361      Nepal beat UAE, win their first-ever ODI series
1038     India win an ODI against New Zealand in New Zealand after 10 years
2955     NZ's Ross Taylor goes past Sachin, Kohli's tally
10706    An ODI was once played in the middle of a Test match
Name: headlines, dtype: object